
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="/" class="navbar-brand"><img src="/static/img/logo_white.png" width="63px" height="50px" alt="Michigan Nature Wildlife Viewing Portal"></a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="details">
    <div class="details-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="site-title">
                        <h1>{{ site.name }}</h1>
                        <h3><a href="{{ site.owner_link }}">{{ site.owner }}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="opportunities">
    <div class="opportunities-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="">Description</span>
                                <span class="pull-right">
                                    <span ng-switch="site.fee">
                                        <span ng-switch-when="true"><em class="fa fa-dollar" tooltip-placement="top"
                                                tooltip="This viewing site has an entry fee."
                                                tooltip-append-to-body="true"></em></span>
                                    </span>
                                    <span ng-switch="site.ada">
                                        <span ng-switch-when="true"><em class="fa fa-wheelchair" tooltip-placement="top"
                                                tooltip="This viewing site is handicap accessible."
                                                tooltip-append-to-body="true"></em></span>
                                    </span>

                                </span>
                            </h4>
                        </div>
                        <div class="panel-body panel-body-override">
                            {{ site.description }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Facilities</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="f in site.facilities">{{ f.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Animals</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="f in site.animals">{{ f.name }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Details</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Owner: {{ site.owner }}</li>
                                <li class="list-group-item">Telephone: {{ site.telephone }}</li>
                                <li class="list-group-item">Website: <a href="{{ site.owner_link }}">Click Here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="site.photos.length > 0">
    <div class="gallery">
        <div class="gallery-inner">
            <div class="container">
                <div class="row">
                        <carousel interval="3000">
                            <slide ng-repeat="photo in site.photos">
                                <span ng-switch="photo.img">
                                    <span ng-switch-when="true"><img ng-src="{{ photo.link }}"></span>
                                    <span ng-switch-default><img ng-src="{{ photo.image }}"></span>
                                </span>
                                <div class="carousel-caption">
                                    <h4>Slide {{ $index }}</h4>
                                    <p>{{ photo.title }}</p>
                                </div>
                            </slide>
                        </carousel>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="alert-box">
    <div class="alert-box-inner">
        <alert ng-repeat="al in alerts" type="{{ al.type }}" close="closeAlert($index)">{{ al.title }}</alert>
    </div>
</div>