<div ng-controller="FilterController">
    <div class="row padding">
        <div class="col-sm-12">
            <form ng-submit="filter()">
                <div class="form-group">
                    <label for="facilities">
                        Facilities
                    </label>
                    <div isteven-multi-select input-model="facilities" output-model="selectedFacilities" tick-property="ticked" button-label="name" item-label="name"></div>
                </div>
                <div class="form-group">
                    <label for="animals">
                        Animals
                    </label>
                    <div isteven-multi-select input-model="animals" output-model="selectedAnimals" tick-property="ticked" button-label="name" item-label="name"></div>
                    <!--<select multiple="multiple" ng-model="selectedAnimals" name="animals" id="animals" class="form-control">
                        <option ng-repeat="n in animals" value="{{ n.id }}">{{ n.name }}</option>
                    </select>-->
                </div>
                <button type="submit" class="btn btn-primary btn-long">Filter</button>
            </form>
        </div>
    </div>
</div>