<div class="list-group">
                <a ng-repeat="n in items" ng-click="centerAt(n)" class="list-group-item">
                    <div class="media">
                        <div class="pull-left"><em class="fa fa-leaf fa-2x"></em></div>
                        <div class="media-body clearfix">
                            <p class="m0">{{ n.name }}</p>
                            <p class="m0 text-muted">{{ n.owner }}</p>
                        </div>
                    </div>
                </a>
            </div>